@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
    background-color: #5cba53;
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.fa{
    opacity: 0;
}
.fa:hover{
    transform: scale(1.5);
}
.gaana:hover i{
    opacity: 1;
    color: black;


}

/* Navigation Bar */
nav ul{
    display: flex;
    list-style: none;
    align-items:center;
    height: 3.5rem;
    background-color:black;
}
.buttons a{
    text-decoration: none;
    color: white
}
nav ul li.buttons{
    color:white;
    padding:0 0.6rem;
    text-decoration: none;
}
li.buttons:hover{
    font-size: 1.5rem;
    border-radius: 1rem;
    height: 2rem;
}
li.buttons a:hover{
    color:rgb(11, 229, 19);
}
.brand img{
    width: 3rem; 
    height: 3rem;
    padding:0 0.3rem;
}
li.brand{
    display:flex;
    align-items:center;
    color:white;
    font-weight: bolder;
}
.container{
    display : flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

/* Bottom */
div.bottom{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    position: sticky;
    bottom : 0;
    height : 5rem;
    width: 100%;
    background-color: black;
    margin-top: 19.5rem;
    color: white;
}
#range{
    width: 52rem;
    cursor: pointer;
}
div.banner{
    position: relative;
}

img.bg{
    height: 29.5rem;
    border-radius:2rem;
    box-shadow: 1rem 2rem 3rem rgb(1, 240, 216),
        inset 1rem 1rem 1rem rgb(1, 240, 216, 0.25),
        inset 1rem 1rem 2rem rgb(1, 240, 216, 0.25),
        inset 0.1rem 0.1rem 3rem rgb(1, 240, 216, 0.25);
}
div.songs{
    display: flex;
    flex-direction: column;
    position: absolute;
    color:white;
    margin-right:28rem;
    margin-bottom:22.5rem;
    
}
.gaana i{
    padding-right: 0.3rem;
}
img.icons{
    height: 30px;
    width: 30px;
    margin-left:8px;
    border-radius:40px;
    padding-right: 10px;
}
.gaana{
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    align-items:center;
    border:2px solid white;
    border-radius:30px;
    margin-bottom: 5px;
    width: 20rem;
    background-color: #5cba53;
    color:black;
    font-weight:bold;
    cursor:pointer;
}
.gaana:hover{
    background-color: rgb(25, 83, 25);
    color:white;
    font-weight:bold;
    font-size: 16px;
    
}
.play i{
    padding:5px;
}
#masterPlay{
    cursor: pointer;
}
#backward{
    cursor:pointer;
}
#forward{
    cursor:pointer;
}
.gif{
    left:25%;
    top : 50%;
    position:absolute;
}
.gif img{
    opacity: 0;
    width: 60px;
}