@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
    background-color: #5cba53;
    /* overflow: hidden; */
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.fa{
    opacity: 0;
}
.fa:hover{
    transform: scale(1.5);
}
.gaana:hover i{
    opacity: 1;
    color: black;


}

/* Navigation Bar */
nav ul{
    display: flex;
    list-style: none;
    align-items:center;
    height: 60px;
    background-color:black;
}
.buttons a{
    text-decoration: none;
    color: white
}
nav ul li.buttons{
    color:white;
    padding:0 12px;
    text-decoration: none;
}
li.buttons:hover{
    font-size: 25px;
    border-radius: 9px;
    height:30px;
}
li.buttons a:hover{
    color:rgb(11, 229, 19);
}
.brand img{
    width:50px;
    height: 50px;
    padding:0 2px;
}
li.brand{
    display:flex;
    align-items:center;
    color:white;
    font-weight: bolder;
}
.container{
    display : flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

/* Bottom */
div.bottom{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    position: sticky;
    bottom : 0;
    height : 80px;
    width: 100%;
    background-color: black;
    margin-top:300px;
    color: white;
}
#range{
    width:800px;
    cursor: pointer;
}
div.banner{
    position: relative;
}

img.bg{
    height:470px;
    border-radius:20px;
}
div.songs{
    display: flex;
    flex-direction: column;
    position: absolute;
    color:white;
    margin-right:500px;
    margin-bottom:360px;
    
}
.gaana i{
    padding-right:10px;
}
img.icons{
    height: 30px;
    width: 30px;
    margin-left:8px;
    border-radius:40px;
    padding-right: 10px;
}
.gaana{
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    align-items:center;
    border:2px solid white;
    border-radius:30px;
    margin-bottom: 5px;
    width: 300px;
    background-color: #5cba53;
    color:black;
    font-weight:bold;
    cursor:pointer;
}
.gaana:hover{
    background-color: rgb(25, 83, 25);
    color:white;
    font-weight:bold;
    font-size: 16px;
    
}
.play i{
    padding:5px;
}
#masterPlay{
    cursor: pointer;
}
#backward{
    cursor:pointer;
}
#forward{
    cursor:pointer;
}